{% extends "base.html" %}

{% block content %}
    <h1>Добавление задачу</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(class="form-control") }}<br>
            {% for error in form.content.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
    {{ form.category_name.label }}<br>
    {{ form.category_name(class="form-control", list="categories") }}<br>
    <datalist id="categories">
        {% for cat in existing_categories %}
            <option value="{{ cat }}">
        {% endfor %}
    </datalist>
    {% for error in form.category_name.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}
</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </form>
{% endblock %}